<!DOCTYPE html >
<html>
<head>
  <meta content='text/html; charset=UTF-8' http - equiv='Content-Type'/>
</head>
<body>
<h1>Resumen de ventas de Ayer</h1>
<% @products.each do |product| %>
  <p><%= product %></p>
<% end %>
</body>
</html>